<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005717914478-lk1pta800qnq6429tt2nv38cemj57l5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005717914478-lk1pta800qnq6429tt2nv38cemj57l5k</string>
	<key>API_KEY</key>
	<string>AIzaSyCvOHKJRsqmonbLoVZCSEzEGXi_Xxhn4n8</string>
	<key>GCM_SENDER_ID</key>
	<string>1005717914478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tortega.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-24b94</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-24b94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005717914478:ios:ce90168d104e24f34cf77f</string>
</dict>
</plist>